#block-expo2020-breadcrumbs {
  padding-top: 2rem;
  font-size: 14px;
  color: $gray-500;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  ol {
    li {
      &.active {
        //text-decoration: underline;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: '|';
    color: $gray-500;
  }
}
//breadcrumb on contact page
.node--type-contact .breadcrumb-n-title-container nav,
.node--type-themes.node--view-mode-full nav,
.node--type-media-landing-page.node--view-mode-full nav,
.node--type-sponsors-partners-landing-page.node--view-mode-full nav,
.view-id-search_api_db > nav,
.node--view-mode-themes-our-vision nav{
  font-size: 14px;
  color: $gray-500;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2rem;
  padding-bottom: 3rem;
  ol {
    li {
      &.active {
        //text-decoration: underline;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: '|';
    color: $gray-500;
  }
}

.node--type-pavilion-landing-page,
.node--type-opportunities {
  #block-expo2020-breadcrumbs {
    display: none;
  }
}