body {
  font-family: "Work Sans", sans-serif;

  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }
  h1 {
    font-size: $h1-font-size;
  }
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h3-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  h5 {
    font-size: $h5-font-size;
  }
}

// Colours
.colour-primary-orange {
  color: $primary-orange !important;
}
.colour-primary-brown {
  color: $primary-brown !important;
}
.colour-primary-turquoise {
  color: $primary-turquoise !important;
}
.colour-primary-blue {
  color: $primary-blue !important;
}
.colour-black {
  color: $black !important;
}
.colour-white {
  color: $white !important;
}
.colour-green {
  color: $icon-green !important;
}
.colour-orange {
  color: $icon-orange;
}
.colour-brown {
  color: $countdown-brown;
}
.colour-blue1 {
  color: $icon-blue1;
}
.colour-blue2 {
  color: $icon-blue2;
}
.colour-blue3 {
  color: $icon-blue3;
}

// Buttons
.btn {
  padding: .5rem 3rem;
  font-family: 'Rubik', sans-serif;
  margin-top: 3rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-white {
  background-color: $white;
  border-color: $white;
  color: $primary-blue;
  &:hover, &:active, &:focus {
    background-color: $gray-300;
    border-color: $gray-300;
    color: $primary-blue;
  }
}
.btn-primary-blue {
  background-color: $primary-blue;
  border-color: $primary-blue;
}
.btn-primary-orange {
  background-color: $primary-orange;
  border-color: $primary-orange;
}
.btn-primary-turquoise {
  background-color: $primary-turquoise;
  border-color: $primary-turquoise;
  color: $primary-blue;
}
.btn-border-orange {
  background-color: $white;
  border-color: $primary-orange;
  color: $icon-orange;
  &:hover, &:active, &:focus {
    background-color: $primary-orange;
    border-color: $primary-orange;
    color: $gray-900;
  }
}
.btn-primary-white {
  border-color: $btn-border;
  background-color: $white;
  color: $gray-900;
}
.btn-orange-banner {
  color: $gray-1000;
  position: absolute;
  line-height: 1.5;
  background-color: $primary-orange;
  border-color: $primary-orange;
  padding: .5rem 3rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: .5rem;
}

.font-weight-semibold {
  font-weight: 500;
}