.node--type-page.node--view-mode-full {
  h1 {
    margin-top: 2rem;
    color: $primary-blue;
  }
  h2 {
    font-size: 1.5rem;
    color: $gray-700;
  }
  h3 {
    font-family: $font-family-rubik;
    font-size: 18px;
    color: $primary-orange;
  }
  .field--name-field-subtitle {
    color: $primary-orange;
    font-family: $font-family-rubik;
  }
  .news-article-view-content-left {
    margin: 2rem 0;
    p {
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.node--type-contact {
  .breadcrumb-n-title-container {
    position: relative;
    nav {
      position: absolute;
      top: 0;
    }
    h1 {
      position: absolute;
      top: 3rem;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
.node--type-contact.node--view-mode-full {
  #block-newstopcontenttext {
    a {
      border-bottom: 3px solid $primary-orange;
    }
  }
  .field--name-field-bottom-content {
    .container {
      padding: 0;
    }
    .time-title {
      font-family: $font-family-rubik;
      color: $primary-blue;
      font-weight: 500;
      margin-top: 2rem;
    }
    .showcase-contact {
      margin: 2rem;
      .contact-icon {
        margin-top: 1rem;
        width: 140px;
      }
    }
    .floorplan {
      margin-top: 2rem;
      margin-bottom: 5rem;
      img {
        width: 100%;
      }
    }
  }
}

#block-whatsonsecondbanner {
  .whatson-feature {
    @include feature-card($icon-green, url('~@/images/feature-bg.png'), 'bg-img');
  }
}

//themes page
.node--type-themes {
  .panels.main-container {
    padding-top: 3rem;
  }
}
.node--type-themes.node--view-mode-full {
  .field--name-field-text-area-under-top-banner {
    margin: 5rem 0;
    h3 {
      color: $icon-orange;
    }
  }
  .themes-gallery-content {
    background-image: url('~@/images/twitter-bg.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin-top: 5rem;
  }
  .field {
    margin-bottom: 0;
  }
  .field--name-field-txt-area-befr-galry-slider {
    padding: 5rem 0;
    @include feature-card($icon-orange, $white, 'no-bg-img');
  }
  .themes-slider {
    background-image: url('~@/images/twitter-bg1.png');
    background-repeat: repeat-x;
    background-size: contain;
  }
  .field--name-field-multi-text-after-gallery {
    margin-bottom: 0;
    .field__item {
      margin-top: 5rem;
    }
    .row {
      margin: 0;
    }
    .feature-card-green {
      @include feature-card($icon-green, url('~@/images/feature-bg.png'), 'bg-img');
    }
    .feature-card-blue {
      @include feature-card($primary-blue, url('~@/images/feature-bg2.png'), 'bg-img');
    }
    .field__item:last-child {
      @include pavilion-welcome($icon-orange, $primary-blue);
    }
  }
}

//media landing page
.node--type-media-landing-page.node--view-mode-full {
  .field--name-field-top-content {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
  .col-md-6 {
    max-width: 48%;
  }
  .media-card-left {
    @include media-card($gray-900);
    margin-right: 2rem;
  }
  .media-card-right {
    @include media-card($gray-900);
  }
  #block-newstopcontenttext {
    a {
      border-bottom: 3px solid $primary-orange;
    }
    p {
      margin-bottom: 0;
    }
  }
  .media-bottom {
    padding: 5rem;
    text-align: center;
  }
  .media-landing-page-after-banner {
    .field {
      margin-bottom: 0;
    }
  }
  .media-landing-page-gallery-content {
    background-color: $news-homepage;
    padding: 5rem 0;
  }
}

//partners
.node--type-sponsors-partners-landing-page {
  .main-content {
    .region.region-content-top {
      display: block;
      margin: 0;
    }
  }
}
#block-partnerssecondheader {
  width: 100%;
  position: relative;
  z-index: 20;
  color: $white;
  background-color: $gray-1000;
  text-align: center;
  padding: 2rem;
  .field,
  p {
    margin-bottom: 0;
  }
  a {
    border-bottom-color: $primary-orange;
    &:hover, &:active {
      color: $primary-orange;
    }
  }
}
.node--type-sponsors-partners-landing-page.node--view-mode-full {
  .field {
    margin-bottom: 0;
  }
  .viewsreference--view-title {
    color: $primary-blue;
    font-size: $h3-font-size;
    font-weight: 600;
    margin: 2rem 0;
  }
  .sponsor-listing-big-card {
    text-align: center;
    & > div {
      border: 1px solid $countdown-gray;
    }
    .upper-container {
      padding: 5rem 0;
    }
    .lower-container {
      padding: 3rem;
      background-color: $gray-100;
      .btn {
        display: block;
        width: 50%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .partner-listing-small-card {
    text-align: center;
    margin: 1rem 0;
    transition: top 0.2s ease;
    & > div {
      border: 1px solid $countdown-gray;
    }
    .upper-container {
      padding-top: 2rem;
    }
    .lower-container {
      padding: 1rem;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }
    &:hover {
      top: -10px;
      text-decoration: none;
      -webkit-transition: top 0.2s ease;
      transition: top 0.2s ease;
    }
  }
}

.view-id-sponsors_partners_views_listing {
  padding-bottom: 3rem;
  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .five-items-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0;
  }
  .inline-partner-logo {
    margin: 1rem;
    img {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

//message
.region-messages {
  position: relative;
  z-index: 5;
}