.view-empty{
  padding-top: 5em;
  padding-bottom: 3em;
}

.path-news,
.path-whats-on,
.node--type-themes,
.node--type-event,
.node--type-news {
  #main-wrapper {
    overflow-x: hidden;
  }
}
.node--type-news {
  .node--type-page.node--view-mode-full {
    h1 {
      color: $primary-blue;
    }
    h2 {
      font-size: 1.5rem;
      color: $gray-700;
    }
    h3 {
      font-family: $font-family-rubik;
      font-size: 18px;
      color: $primary-orange;
    }
    .field--name-field-subtitle {
      color: $primary-orange;
      font-family: $font-family-rubik;
      margin-top: 4rem;
    }
    .field--type-text-with-summary {
      margin-bottom: 5rem;
    }
    .news-article-view-content-left,
    .news-article-view-content-right {
      margin-top: 2rem;
      margin-bottom: 7rem;
      p {
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}


.node--type-contact {
  .breadcrumb-n-title-container {
    position: relative;
    nav {
      position: absolute;
      top: 0;
    }
    h1 {
      position: absolute;
      top: 6rem;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 700px;
    }
  }
}
.node--type-contact.node--view-mode-full {
  #block-newstopcontenttext {
    a {
      border-bottom: 3px solid $primary-orange;
    }
  }
  .field--name-field-bottom-content {
    .container {
      padding: 0;
      margin-top: 4rem;
      p {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    .time-title {
      font-family: $font-family-rubik;
      color: $primary-blue;
      font-weight: 500;
      margin-top: 2rem;
      letter-spacing: 1px;
    }
    .showcase-contact {
      margin: 2rem;
      .contact-icon {
        margin-top: 1rem;
        width: 140px;
        a {
          &:hover {
            .icon-text {
              border-bottom: 2px solid;
              width: fit-content;
            }
          }
        }
      }
    }
    .floorplan {
      margin-top: 4rem;
      margin-bottom: 9rem;
      img {
        width: 100%;
      }
    }
  }
}

#block-whatsonsecondbanner {
  .whatson-feature {
    @include feature-card($icon-green, url('~@/images/feature-bg.png'), 'bg-img');
    h3 {
      margin: 5rem;
    }
  }
}

//themes page
#block-themesheader {
  #parallax-container {
    .pavilion-layer-top-news {
      .whats-on-shape {
        background-image: url('~@/images/themes-shape-above.png');
        top: 6rem;
        padding: 4rem 5rem;
        h1, h2 {
          color: $icon-orange;
        }
        a {
          color: $icon-orange;
        }
      }
    }
  }
}
.node--type-themes.node--view-mode-full {
  .field--name-field-text-area-under-top-banner {
    margin: 5rem 0;
    h2, h3 {
      color: $icon-orange;
    }
    h2 {
      font-size: 36px;
    }
  }
  .themes-gallery-content {
    background-image: url('~@/images/twitter-bg.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin-top: 7rem;
  }
  .field {
    margin-bottom: 0;
  }
  .field--name-field-txt-area-befr-galry-slider {
    padding: 7rem 0;
    @include feature-card($icon-orange, $white, 'no-bg-img');
  }
  .themes-slider {
    background-image: url('~@/images/twitter-bg1.png');
    background-repeat: repeat-x;
    background-size: contain;
  }
  .field--name-field-multi-text-after-gallery {
    margin-bottom: 0;
    .field__item {
      margin-top: 7rem;
    }
    .row {
      margin: 0;
    }
    .feature-card-green {
      @include feature-card($icon-green, url('~@/images/feature-bg.png'), 'bg-img');
    }
    .feature-card-blue {
      @include feature-card($primary-blue, url('~@/images/feature-bg2.png'), 'bg-img');
    }
    .field__item:last-child {
      @include pavilion-welcome($icon-orange, $primary-blue);
      .pavilion-welcome {
        .btn {
          &:hover {
            color: $white;
            background-color: $icon-orange;
            border-color: $icon-orange;
          }
        }
        .pavilion-welcome-text {
          padding-top: 4rem;
          padding-left: 4rem;
          padding-right: 4rem;
        }
      }
    }
  }
}

//media landing page
.node--type-media-landing-page.node--view-mode-full {
  .node__content {
    background-image: url('~@/images/media-fill.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
  .field--name-field-top-content {
    margin-top: 5rem;
    margin-bottom: 6rem;
    .container {
      padding: 0;
    }
  }
  .media-card-left {
    @include media-card($icon-orange);
  }
  .media-card-right {
    @include media-card($gray-900);
  }
  #block-newstopcontenttext {
    a {
      border-bottom: 3px solid $primary-orange;
    }
    p {
      margin-bottom: 0;
    }
  }
  .media-bottom {
    padding: 7rem 0 5rem 0;
    text-align: center;
  }
  .media-landing-page-after-banner {
    .field {
      margin-bottom: 0;
    }
  }
  .media-landing-page-gallery-content {
    background-color: $media-card;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
}

//partners
.node--type-sponsors-partners-landing-page {
  .main-content {
    .region.region-content-top {
      display: block;
      margin: 0;
      #parallax-container {
        .pavilion-layer-top-news {
          .whats-on-shape {
            h1, h2 {
              color: $primary-blue;
            }
            a {
              color: $primary-blue;
            }
          }
        }
      }
    }
  }
}
#block-partnerssecondheader {
  width: 100%;
  position: relative;
  z-index: 20;
  color: $white;
  background-image: url('~@/images/footer-texture.svg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 2.5rem;
  font-size: 1.2rem;
  .field,
  p {
    margin-bottom: 0;
  }
  a {
    border-bottom: 3px solid $primary-brown;
    display: inline-block;
    &:hover, &:active {
      color: $primary-brown;
    }
  }
}
.node--type-sponsors-partners-landing-page.node--view-mode-full {
  .field {
    margin-bottom: 0;
  }

  .field--name-field-multi-s-n-p-listing {
    .partners-with-background:last-child,
    .view-display-id-official_providers {
      .view-content {
        margin-right: -15px;
        margin-left: -15px;
      }
      .inline-partner-logo {
        border: 1px solid $countdown-gray;
        background-color: $white;
        padding: 1rem;
        &:hover {
          border: 1px solid $primary-blue;
        }

        img {
          width: 170px;
          height: 170px;
          object-fit: contain;
        }
      }
    }
  }

  @include pavilion-welcome($primary-blue, $white);
  .pavilion-welcome {
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 1rem;
    .btn {
      &:hover {
        color: $primary-orange;
        background-color: $icon-blue3;
        border-color: $icon-blue3;
      }
    }
    .pavilion-welcome-text {
      padding-top: 2rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  .partners-with-background {
    background-image: url('~@/images/partner-texture.jpg');
  }

  .viewsreference--view-title {
    color: $primary-blue;
    font-size: $h3-font-size;
    font-weight: 600;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .sponsor-listing-big-card {
    text-align: center;
    & > div {
      border: 1px solid $countdown-gray;
    }
    .upper-container {
      padding: 5rem 0;
      img {
        min-height: 85px;
        width: auto;
        object-fit: cover;
      }
    }
    .lower-container {
      padding: 3rem;
      background-color: $gray-100;
      p {
        font-family: 'Open Sans', sans-serif;
      }
      .btn {
        display: block;
        width: 55%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .partner-listing-small-card {
    text-align: center;
    margin: 1rem 0;
    transition: top 0.2s ease;
    & > div {
      border: 1px solid $countdown-gray;
      background-color: $white;
      height: 100%;
      &:hover {
        border: 1px solid $primary-blue;
      }
    }
    .upper-container {
      padding: 1rem 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lower-container {
      display: none;
      padding: 1rem;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.view-id-sponsors_partners_views_listing {
  padding-bottom: 5rem;
  /*.view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }*/
  .five-items-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0;
    flex-wrap: wrap;
  }
  .inline-partner-logo {
    margin: 1rem;

    img {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &.view-display-id-sponsors{
    & >.view-content{
      & > .row{
        width: 100%;
      }
    }
  }
}

//message
.region-messages {
  position: relative;
  z-index: 5;
  .alert-wrapper {
    position: absolute;
    margin-top: 5rem;
  }
}

.node--type-opportunities {
  #parallax-container {
    .pavilion-shape {
      background-image: url('~@/images/oppo-shape.svg');
    }
  }
  .pavilion-last-section {
    .pavilion-welcome-text {
      padding-top: 8rem;
    }
  }
}

//search result page
.path-search {
  .panels.main-container {
    .view-filters {
      padding: 2rem 0 3rem 0;
      background-color: $gray-100;
      .views-exposed-form {
        margin-top: 3rem;
        .form-group {
          position: relative;
          input {
            border-radius: 0;
            border: 1px solid $gray-300;
            &.form-control {
              height: calc(2em + 1rem + 2px);
            }
          }
          button {
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            padding: 0.5rem;
            background-color: transparent;
            color: $primary-blue;
            padding-right: 1rem;
            svg {
              width: 25px;
            }
          }
        }
      }
    }
    .view-header {
      padding-top: 2rem;
    }
    .view-content {
      .views-row {
        margin: 4rem 0;
      }
      .views-field-title {
        color: $primary-blue;
        font-size: 2rem;
        font-weight: 600;
      }
      .views-field-body {
        font-family: 'Open Sans', sans-serif;
        margin: 1rem 0;
      }
      .views-field-url {
        font-family: 'Open Sans', sans-serif;
        a {
          text-decoration: underline;
        }
      }
    }
    @include landing-pagination($primary-blue);
    .view-footer {
      margin-bottom: 3rem;
    }
  }
}

//error page
.error-page {
  .page-not-found-content {
    font-weight: 500;
    margin-top: 5rem;
    margin-bottom: 10rem !important;
    a {
      text-decoration: underline;
    }
  }
}

//site map
.sitemap {
  margin-bottom: 5rem;
  .sitemap-box-front {
    font-weight: 600;
    font-size: 24px;
    .placeholder {
      font-style: normal;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

//our vision
.node--view-mode-themes-our-vision {
  .themes-over-vision-content-under-top-content {
    background-image: url('~@/images/angles-background-blue.svg');
    background-repeat: no-repeat;
    background-position: center right;

    .field--name-field-text-area-under-top-banner {
      text-align: center;
      padding: 5rem;

      &.field {
        margin-bottom: 0;
      }
    }
  }

  .themes-slider {
    background-image: url('~@/images/our-vision-gallery-bg.svg');

    .field {
      margin-bottom: 0;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }
  }

  .themes-over-vision-content-after-slider {
    background-image: url('~@/images/background-860h-lightblue-terrain.svg');
    background-position: 0 -30px;

    .field--name-field-txt-area-befr-galry-slider {
      padding: 7rem 0;
      @include feature-card($primary-blue, $white, 'no-bg-img');

      strong {
        font-weight: 600;
      }
    }
  }

  .field--name-field-multi-text-after-gallery {
    padding: 7rem 0;

    @extend .oppo-footer;
    @include pavilion-welcome($primary-blue, $white);

    .pavilion-welcome {
      .pavilion-welcome-text {
        padding-top: 6rem;
      }
    }

    .btn {
      &:hover {
        color: $primary-orange;
        background-color: $icon-blue3;
        border-color: $icon-blue3;
      }
    }
  }
}

//template
.node--type-page {
  .main-content {
    .region.region-content-top {
      display: block;
      margin: 0;
    }
  }
}
.node--type-page.node--view-mode-full {
  h3, h5 {
    color: $primary-blue;
  }

  .field--name-field-subtitle {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: $primary-orange;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .field--name-field-multi-text-after-gallery {
    .field__item:nth-child(2) {
      padding-top: 3rem;
      padding-bottom: 3rem;
      .feature-card-blue {
        padding-left: 15px;
        padding-right: 15px;
        @include feature-card($primary-blue, url('~@/images/feature-bg2.png'), 'bg-img');
        .col-md-6:first-child {
          img {
            margin: 0;
          }
        }
      }
    }

    .field__item:nth-child(3) {
      padding-top: 3rem;
      padding-bottom: 6rem;
      .feature-card-blue {
        padding-left: 15px;
        padding-right: 15px;
        .col-md-6:first-child {
          background-image: url('~@/images/feature-bg2.png');
          padding: 5rem;
          .text-top {
            font-size: 24px;
            font-weight: 600;
          }
          .text-middle {
            font-family: 'Open Sans', sans-serif;
          }
          .text-bottom {
            font-family: $font-family-rubik;
            font-weight: 500;
            position: absolute;
            bottom: 1rem;
          }
        }
        .col-md-6:last-child {
          padding: 0;
          .embedded-entity {
            margin-bottom: 0;
            width: 100%;
            height: 100%;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit:cover;
            margin: 0;
          }
        }
      }
    }
    @include pavilion-welcome($primary-blue, $white);
    .pavilion-welcome {
      padding: 6rem 0;
      .btn {
        &:hover {
          color: $primary-orange;
          background-color: $icon-blue3;
          border-color: $icon-blue3;
        }
      }
    }
  }

}