/* footer */
.footer {
    position: relative;
    z-index: 5;
}

.footer {
    background-color: $gray-900;
    padding-bottom: 5rem;
}
.footer-left-outer-container {
    margin-top: 5rem;
    padding-left: 0;
}
.footer a {
    color: $white;
    border-bottom: none;
    padding-right: 1rem;
    &:hover {
        text-decoration: underline;
    }
}
.footer ul {
    list-style: none;
    display: inline-flex;
}
.footer li {
    margin: 0 1rem;
}
#block-socialicons {
    margin-right: 6rem;
}
.social-icon {
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    a:hover {
        color: $gray-500;
    }
}
.footer-right-outer-container {
    padding-right: 0;
    h2 {
        font-family: 'Rubik', sans-serif;
        color: $primary-turquoise;
        margin-top: 6rem;
        font-size: 1rem;
        margin-left: 30px;
    }
    .webform-submission-form {
        padding: 0 30px;
    }
    #edit-newsletter-text {
        color: $white;
        font-size: 1rem;
    }
    .button {
        background-color: $primary-turquoise;
        border-color: $primary-turquoise;
        color: $body-color;
        padding: 0 .5rem;
        margin-top: 0;
        height: calc(2.5em + 1rem + 1px);
        &:hover {
            filter: brightness(110%);
        }
    }
    .InputAddOn {
        display: flex;
    }
    .InputAddOn_field {
        flex: 1;
    }
    .InputAddOn_item {
        color: $gray-900;
        font: inherit;
        font-weight: normal;
        margin-left: -1px;
    }
    .InputAddOn_field {
        border-radius: 0;
        height: calc(2.5em + 1rem + 2px);
    }
}


/* back to top */
#to-top {
    background: #56D6C9;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    position: absolute;
    margin-top: -1.5rem;
    right: 30px;
    z-index: 11;
    height: 55px;
    width: 55px;
    padding: 11px;
    text-align: center;
}

#to-top:active,
#to-top:focus,
#to-top:hover {
    filter: brightness(110%);
}

