/*#block-search-site-header {

  max-width: 145px;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .form-item-keywords {
    label {
      @include sr-only;
    }

    .form-text {
      margin-top: 0;
      border-width: 2px;
      border-color: $gray-border;

    }
  }

  .form-submit {
    @include sr-only;
    @include sr-only-focusable;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    height: calc(2.125rem + 2px);
  }
}*/
#block-expo2020-header-site-search-block {
  margin-left: 1rem;
  .header-site-search-content-wrapper {
    z-index: 2;
    height: 48px;
    width: 48px;
    margin: 6px 0;
    position: relative;
    &.open{
      .input-wrap{
        width: 800px;
        transition-delay: 0.25s;
        background-color: $gray-100;
        margin: -1rem -0.5rem;
      }

      button{
        transition-delay: 0.25s;
        background-color: transparent;
        svg{
          color: $primary-orange;
          g{
            transition-delay: 0.2s;
            fill: $primary-blue;
            //border: 1px solid $gray-200;
          }
        }
      }
      .search-trigger{
        transition-delay: 0.1s;
        opacity: 0;
        z-index: -1;
      }
    }
    button,
    .search-trigger{
      position: absolute;
      top: 0;
      right: 0;
      height: 52px;
      width: 52px;
      text-align: center;
      padding: 10px;
      border: 0 none;
      box-shadow: none;
      outline: 0 none;
      cursor: pointer;
      z-index: 2;
      // transition: all 0.2s ease 0.3s;
      svg{
        g{
          transition-delay: 0.2s;
        }
      }
    }

    button{
      background-color: transparent;
      margin: -1rem -0.5rem;
      svg{
        color: $primary-blue;
        g{
          fill: $primary-blue;
        }
      }
    }

    .search-trigger{
      transition: all 0.3s ease 0.48s;
      background-color: white;
      //border: 1px solid $gray-200;
      margin: -1rem -0.5rem;

      svg{
        color: $primary-blue;
        g{

        }
      }
    }

    .input-wrap{
      //transition: width 0.2s ease 0.3s;
      height: 52px;
      width: 58px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      padding: 6px 20px;
      margin: -1rem -0.5rem;
      input[type]{
        width: 100%;
        height: calc(100% - 2px);
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        outline: 0 none;
        padding-right: 40px;
      }
    }

  }

}