#block-search-site-header {

  max-width: 145px;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .form-item-keywords {
    label {
      @include sr-only;
    }

    .form-text {
      margin-top: 0;
      border-width: 2px;
      border-color: $gray-border;

    }
  }

  .form-submit {
    @include sr-only;
    @include sr-only-focusable;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    height: calc(2.125rem + 2px);
  }
}
