// Header stuff - logo, main nav and search box

#header {
  z-index: 11;
  position: relative;

  .header-row {
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }

  .site-logo {
    display: inline-block;

    &:hover, &:active, &:focus {
      opacity: 0.7;
    }

    margin-right: $grid-gutter-width/2;

    @include media-breakpoint-down(lg) {
      max-width: 200px;
    }

    width: 280px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navigation.menu--main {
    ul.nav {
      display: block;

      li.nav-item {
        display: inline-block;
        font-family: $font-family-rubik;
        font-size: $h5-font-size;

        &:not(:first-of-type) {
          padding-left: 1rem;
        }

        a.nav-link {
          color: $grey-dark;
          padding: .25rem;

          &:hover {
            color: $black;
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }

  a.search {
    color: $primary-blue;
    margin-left: $grid-gutter-width;
    border: 1px solid $gray-200;
    padding: 1rem;
    margin-top: -1rem;

    &:hover, &:active, &:focus {
      opacity: 0.7;
    }

    @include media-breakpoint-down(md) {
      border: none;
      padding: 0;
      margin-top: 0;
      margin-right: .5rem;
    }
  }

}
