// Header stuff - logo, main nav and search box

#header {
  background-color: $white;
  position: sticky;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1020;
  top: 0;

  .header-row {
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    padding-top: 15px;
    .region-header-right {
      margin-top: 1rem;
    }
  }

  .site-logo {
    display: inline-block;
    margin-top: -0.8rem;
    &:hover, &:active, &:focus {
      opacity: 0.7;
    }

    margin-right: $grid-gutter-width/2;

    @include media-breakpoint-down(lg) {
      max-width: 200px;
    }

    width: 280px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navigation.menu--main {
    ul.nav {
      display: block;

      li.nav-item {
        display: inline-block;
        font-family: $font-family-work-sans;
        font-size: $h5-font-size;
        font-weight: 500;

        &:not(:first-of-type) {
          padding-left: 1rem;
        }

        a.nav-link {
          color: $grey-dark;
          padding: .25rem;
          font-weight: 600;
          position: relative;
          &.is-active {
            &:hover {
              &::after {
                background: $icon-blue1;
              }
            }
            &::after {
              content: ' ';
              background: $primary-blue;
              position: absolute;
              height: .333rem;
              width: 110%;
              left: -5%;
              bottom: -38px;
            }
          }

          &:hover {
            &::after {
              content: ' ';
              background: $gray-300;
              position: absolute;
              height: .333rem;
              width: 110%;
              left: -5%;
              bottom: -38px;
            }
          }
        }
      }
    }
  }

  a.search {
    color: $primary-blue;
    margin-left: $grid-gutter-width;
    border: 1px solid $gray-200;
    padding: 1rem;
    margin-top: -1rem;

    &:hover, &:active, &:focus {
      opacity: 0.7;
    }

    @include media-breakpoint-down(md) {
      border: none;
      padding: 0;
      margin-top: 0;
      margin-right: .5rem;
    }
  }

}
#header.sticky {
  height: 95px;
  .header-row {
    padding: 15px 0;
  }
  .navigation.menu--main {
    ul.nav {
      li.nav-item {
        a.nav-link {
          &.is-active {
            &::after {
              bottom: -29px;
            }
          }
          &:hover {
            &::after {
              bottom: -29px;
            }
          }
        }
      }
    }
  }
}
