.main {
  font-family: $font-family-work-sans;
  width:100%;
  display:block;
  margin:0 auto;
}
.parallax-banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 700px;
  &.content-banner{
    height: 700px !important;
    min-height: 1px;
  }

  .img,
  .field--name-field-image img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .image-credit {
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 10;
    color: $white;
    font-family: 'Open Sans', sans-serif;
  }
  .angled-mask{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -2px;

    &.home-angle{
      background-image: url(../images/angled-mask-home.svg);
    }

    &.pavillion-angle{
      background-image: url(../images/angled-mask-pavillion.svg);
    }

    &.opportunities-angle{
      background-image: url(../images/angled-mask-opportunities.svg);
    }
  }
}

.map-img {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
  min-height: 280px;
  h2 {
    padding-top: 2rem;
    margin-bottom: 0;
    text-decoration: underline;
    text-decoration-color: $primary-orange;
    text-underline-position: under;
  }
}

.shape {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  opacity: 0.9;
}

.shape.hover-ready {
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

h1.accent {
  color: $white;
  position: absolute;
  top: 25%;
  left: 23%;
  width: 15%;
  line-height: 1.5;
}
.panel-img {
  max-width: 100%;
}
.text {
  color: $white;
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
}

.panel-img {
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
.image-style-gallery-silder {
  margin: auto;
  object-fit: cover;
}


#pinSlider{
  height: 100% !important;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;

  div{
    height: 100vh;
  }

  .panel {
    width: 100%;
    position: absolute;

    img{
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  .pips{
    position: absolute;
    transform: translateX(-50%);
    right: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 2;
    display: block;
    top: 20%;
    font-size:1.4em;

    div{
      height: 15px;
      width: 15px;
      margin: 1rem 0;
      border-radius: 100%;
      background-color: $white;

      &.active{
        box-shadow:inset 0 0 0 7px;
        color: $primary-blue;
        background-color: $primary-blue;
      }
    }
  }
}

.fixed-content {
  position:fixed;
  z-index: 10;
  width:100%;
  height:100%;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.content-text {
  position: relative;
  float:right;
  width:370px;
}
.slide {
  position: absolute;
  top: 50%;
  left:0;
  width:100%;
}
.slide p {
  font-size: 24px;
  margin-top: 1rem;
  font-weight: 500;
}
.slide .animatable {
  //opacity:0;
  -webkit-transform:translate(0,-200px);
  transform:translate(0,-200px);
  -webkit-transition:opacity 0.4s ease,-webkit-transform 0.4s ease;
  transition:opacity 0.4s ease,transform 0.4s ease;
  animation-duration: 0.5s;
}
.slide.active.remove .animatable {
  //opacity:0;
  -webkit-transform:translate(0,-400px);
  transform:translate(0,-400px);
}

.slide.active .animatable {
  opacity:1;
  -webkit-transform:translate(0,0px);
  transform:translate(0,0px);

}
.slide.active {
  z-index: 10;
}

/* join us in Dubai */
.showcase {
  margin-top: 10rem;
  margin-bottom: 10rem;
  .row {
    margin-top: 4rem;
    a {
      &:hover {
        .icon-text {
          text-decoration: underline;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .col-md-4 {
      margin: 2rem 0;
    }
  }
}

.icon-text {
  font-family: $font-family-rubik;
  margin-top: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}
.icon1 {
  @include feature-icons($icon-green);
}

.icon2 {
  @include feature-icons($icon-blue);
}
.icon3 {
  @include feature-icons($icon-orange);
}



/* responsive */

@media (max-width: 1200px) {
  h1.accent {
    left: 28%;
  }
  .btn-orange-banner {
    left: 28%;
  }
  .slide p {
    font-size: 18px;
    margin-top: 1rem;
  }
  .partner-logo {
    padding: 2rem 0 7rem 0;
  }
  .partner-logo img {
    margin: 0 1rem;
  }
}

@media (max-width: 992px) {

  .partner-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  .partner-logo img {
    margin: 1rem 2rem;
  }
  .showcase {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 576px) {
  .navbar .logo {
    max-width: 350px;
  }
  .shape {
    width: 70%;
  }
  .btn-orange-banner {
    padding: .5rem 1rem;
    top: 35%;
    left: 33%;
  }

  .partner-logo {
    padding: 2rem 0;
  }
}


@media only screen and (max-width: 375px) {
  .btn-orange-banner {
    top: 34%;
    font-size: 14px;
    padding: .5rem .8rem;
  }
  .slide h2 {
    font-size: 1rem;
  }
  .slide p {
    width: 50%;
  }
  .btn-blue, .btn-orange {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 320px) {
  h2 {
    font-size: 1.2rem;
  }
  .navbar .logo {
    max-width: 300px;
  }
  h1.accent {
    font-size: 1.2rem;
  }
  .btn-orange-banner {
    top: 32%;
    font-size: 12px;
  }
  .social-icon {
    margin-left: 0;
  }
}


// Homepage specific tyles


.partners {
  background-color: #F0F0F5;
  padding-top: 7rem;
  h2 {
    text-decoration: underline;
    text-decoration-color: $gray-400;
    text-underline-position: under;
  }
  .partner-logos {
    padding: 4rem 0 6rem 0;
    text-align: center;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
    .view-id-sponsors_partners_views_listing {
      padding-bottom: 0;
    }
    .inline-partner-logo {
      margin: 0;
      display: inline-block;
      img {
        object-fit: contain;
        &:hover, &:active, &:focus {
          opacity: 0.7;
        }
      }

      @include media-breakpoint-down(md) {
        margin: 2rem 0;
      }
    }
  }
}

img.blur {
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}
