#block-bean-homepage-banner {
  position: relative;
  .container {
    position: relative;
  }
  .spacer {
    padding-bottom: 40%;
  }
  /*.images > div {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }*/
  .parallax-banner {
    .angled-mask {
      z-index: 10;
    }
  }
  .parallax-div {
    margin-top: 5.5rem !important;
  }
  .texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 18;
    height: 100%;
    /*.container {
      height: 100%;
    }*/
    .text {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    /*.col-sm-6 {
      height: 100%;
    }*/
    .inner {
      position: absolute;
      top: 10%;
      left: 0;
      width: 100%;
      padding: 6% 25% 0 20%;
      color: #fff;
      height: 100%;
      .btn {
        margin-top: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .shape {
    position: absolute;
    width: 100%;
    z-index: 12;
    display: none;
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    &.hover-ready {
      opacity: 0.9;
      -webkit-transition: opacity 0.25s linear;
      -o-transition: opacity 0.25s linear;
      transition: opacity 0.25s linear;
    }
    &.hover {
      opacity: 0.85;
      cursor: pointer;
    }
    svg {
      max-width: 100%;
      /* width: 100%; */
      height: 100%;
      margin: 20px 0 10px 0;
    }
    .ie8-shape {
      max-width: 100%;
      /* width: 100%; */
      height: 100%;
      margin: 20px 0 10px 0;
      display: none;
    }
    polygon {
      shape-rendering: geometricPrecision;
    }
  }
}

@media (max-width: 767px) {
  #block-bean-homepage-banner .spacer {
    height: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #block-bean-homepage-banner h2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #block-bean-homepage-banner h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #block-bean-homepage-banner {
    .parallax-banner{
      position: relative;
      overflow: hidden;
      height: auto;
      min-height: 1px;

      .angled-mask{
        display: none;
      }

      .images{
        position: relative;
        overflow: hidden;
        height: 100%;
        min-height: 400px;
      }
    }
    .h-100{
      height: auto !important;
    }
    .shape,
    .spacer{
      display: none !important;
    }

    .texts{
      padding: $spacer*3 0;
      background-image: url('~@/images/texture.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      position: relative;
      top: auto;
      left: auto;
      height: auto;

      .text,
      .inner{
        position: relative;
        top: auto;
        left: auto;
        height: auto;
        padding: 0;
      }

      .text{
        text-align: center;
      }
    }
  }
}