.user-logged-in {
  #header {
    top: 80px !important;
  }
  &.node--type-pavilion-landing-page,
  &.node--type-opportunities {
    #parallax-container .parallax-div {
      position: absolute;
    }
  }
  .view-display-id-latest1_featured_news,
  #block-partnerslandingpageheader {
    #parallax-container .parallax-div {
      margin-top: 12rem;
    }
  }
}
nav {
  &.tabs {
    position: relative;
    z-index: 50;
  }
}