.latest-news,
.view-display-id-news_listing_page,
.news-view-latest-news-bottom,
.view-display-id-whats_on {
  position: relative;
  z-index: 100;
  .news-section {
    margin-bottom: 10rem;
    padding-top: 10rem;
  }
  .news-header {
    text-decoration: underline;
    text-decoration-color: $primary-orange;
    text-underline-position: under;
  }
  .news {
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
    overflow:hidden;
  }
  .news {
    a {
      display: block;
      img {
        flex-shrink:0;
        min-width:100%;
        height:220px;
        max-width:100%;
        object-fit:cover;
      }
      &:hover {
        box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
        .news-type-icon {
          filter: brightness(110%);
        }
      }
    }
    .news-type-icon {
      @include type-icon($primary-orange);
    }
    .event-type-icon {
      @include type-icon($primary-turquoise);
    }
    .news-lower-container{
      @include lower-container($news-homepage, $primary-orange);
    }
    .event-lower-container {
      @include lower-container($event-bg, $icon-green);
    }
    .news-type-twitter-outer {
      background-image: url('~@/images/twitter-bg.png');
      height: 440px;
      padding: 1rem 2rem;
      position: relative;
      .news-type-twitter-top-container {
        text-align: center;
        margin-bottom: 2rem;
        .news-type-twitter-icon {
          color: $twitter-blue;
          //background-color: $white;
          width: 50px;
          margin: auto;
          margin-bottom: 1rem;
          padding: 0.3rem 0;
          svg {
            width: 20px;
            g {
              padding: 1rem;
            }
          }
        }
        .news-type-twitter-name {
          color: $twitter-blue;
        }

      }
      .news-twitter-content {
        a {
          &:hover {
            box-shadow: none;
            text-decoration: underline;
          }
        }
      }
      .news-twitter-time-ago {
        font-family: $font-family-rubik;
        color: $primary-orange;
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

}

.latest-news {
  .view-footer {
    display: none;
  }
}
#block-newstopcontenttext {
  color: $white;
  background-color: $gray-1000;
  width: 100%;
  text-align: center;
  padding: 2rem;
  position: relative;
  .field {
    margin-bottom: 0;
  }
  a {
    border-bottom-color: $primary-orange;
    &:hover, &:active {
      color: $primary-orange;
    }
  }
}
.panels.main-container {
  position: relative;
  background-color: $white;
  .view-display-id-news_listing_page {
    background-color: $white;
    .view-filters {
      display: flex;
      .news-listing-title {
        width: 60%;
      }
      .views-exposed-form {
        .news-type-filter-links {
          @include type-filter-links($primary-orange);
          padding-top: 0.7rem;
        }
        .news-types-collapse-search {
          display: flex;
          margin-top: 1rem;
          margin-left: 10px;
          #edit-submit-media-listing {
            margin-top: 0;
            width: 30%;
          }
        }
      }
    }
    .view-header,
    .view-footer {
      font-size: 14px;
      color: $gray-500;
      font-family: 'Open Sans', sans-serif;
    }
    .view-footer {
      text-align: center;
    }
    @include landing-pagination($primary-orange);
  }
  //whats on
  .view-display-id-whats_on {
    .view-filters {
      //display: flex;
      .views-exposed-form {
        .event-listing-title-links-search {
          display: flex;
          margin-bottom: 2rem;
        }
        .event-listing-title {
          width: 75%;
        }
        .event-types-filter-container {
          margin-top: 1rem;
        }
        .event-type-filter-links {
          @include type-filter-links($icon-green);
        }
        .event-listing-date-n-submit {
          background-color: $gray-100;
          padding: 0.5rem 1rem;
          display: flex;
          .event-listing-date-outer-wrapper {
            display: flex;
            .event-listing-date-label {
              color: $icon-green;
              font-family: $font-family-rubik;
              padding-top: 1rem;
            }
            .form-item-field-event-date-value-min,
            .form-item-field-event-date-value-max {
              display: flex;
              margin-bottom: 0;
              label {
                padding-top: 1rem;
                padding-right: 1rem;
              }
            }
            .form-item-field-event-date-value-min {
              margin-left: 3rem;
            }
            .form-item-field-event-date-value-max {
              margin-left: 1rem;
            }
          }
          .form-actions {
            .btn {
              margin-top: 5px;
              margin-left: 1rem;
              background-color: $icon-green;
              border-color: $icon-green;
              &:hover {
                filter: brightness(110%);
              }
            }
          }
        }
      }
    }
  }
  .view-header,
  .view-footer {
    font-size: 14px;
    color: $gray-500;
    font-family: 'Open Sans', sans-serif;
  }
  .view-footer {
    text-align: center;
  }
  @include landing-pagination($icon-green);
}

//news detail page
.node--type-news.node--view-mode-full {
  .field--name-field-media-date {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: $primary-orange;
    margin-top: 2rem;
  }
  h1{
    color: $primary-blue;
  }
  h3 {
    font-size: 1.5rem;
    color: $gray-700;
  }
  img {
    width: 100%;
    object-fit: cover;
    margin: 2rem 0;
  }
  blockquote {
    font-size: 20px;
    color: $primary-blue;
    font-weight: 500;

    //<div class="quote"><i class="fas fa-quote-left"></i></div>
    .quote {
      width: 50px;
      height: 50px;
      margin: 1.5rem auto;
      padding: .5rem .75rem;
      background-color: $primary-orange;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      svg {
        color: $white;
        width: 20px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
}

.news-article-view-content-right {
  .field--name-field-label {
    color: $primary-orange;
    font-family: $font-family-rubik;
  }
  .field--name-field-enquiries-contact {
    background-color: $primary-blue;
    padding: 1.5rem;
    p {
      color: $white;
      font-size: 14px;
      font-family: $font-family-work-sans;
    }
  }
}

.region-content-bottom {
  border-top: 5px solid $gray-100;
  margin-top: 3rem;
  .news-view-latest-news-bottom {
    margin-top: 2rem;
    h2 {
      text-decoration: underline;
      text-decoration-color: $primary-orange;
      text-underline-position: under;
    }
  }
}
