.latest-news,
.view-display-id-news_listing_page,
.news-view-latest-news-bottom,
.view-display-id-whats_on,
.event-view-upcoming-bottom {
  position: relative;
  z-index: 100;
  .news-section {
    margin-bottom: 4rem;
    padding-top: 3rem;
  }
  .news-header {
    a {
      border-bottom: 5px solid $primary-orange;
      &:hover {
        border-color: $icon-orange;
      }
    }
  }
  .news {
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    padding-top: 5rem !important;
    > img {
      flex-shrink:0;
      min-width:100%;
      height:250px;
      max-width:100%;
      object-fit:cover;
    }
  }
  .news {
    a {
      display: block;
      border-bottom: 3px solid transparent;
      img {
        flex-shrink:0;
        min-width:100%;
        height:250px;
        max-width:100%;
        object-fit:cover;
      }
      &:hover {
        border-bottom: 3px solid $icon-orange;
        .news-type-icon {
          background-color: $icon-orange;
        }
        .event-type-icon {
          background-color: $icon-green;
        }
      }
    }
    .news-type-icon {
      @include type-icon($primary-orange);
    }
    .event-type-icon {
      @include type-icon($primary-turquoise);
    }
    .news-lower-container{
      @include lower-container($news-tile, $icon-orange);
      text-align: center;
    }
    .event-lower-container {
      @include lower-container($event-bg, $icon-green);
      text-align: center;
    }
    .news-type-twitter-outer {
      background-image: url('~@/images/twitter-bg.png');
      height: 500px;
      padding: 2rem;
      position: relative;
      .news-type-twitter-top-container {
        text-align: center;
        margin-bottom: 2rem;
        .news-type-twitter-icon {
          color: $twitter-blue;
          background-color: $white;
          width: 50px;
          height: 50px;
          margin: auto;
          margin-bottom: 1rem;
          padding: 0.5rem 0;
          svg {
            width: 20px;
            g {
              padding: 1rem;
            }
          }
        }
        .news-type-twitter-name {
          color: $twitter-blue;
          font-family: $font-family-rubik;
          font-weight: 500;
          letter-spacing: 1px;
        }

      }
      .news-twitter-content {
        text-align: center;
        a {
          text-decoration: underline;
          &:hover {
            box-shadow: none;
            text-decoration: none;
          }
        }
      }
      .news-twitter-time-ago {
        font-family: $font-family-rubik;
        color: $icon-orange;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .view-display-id-latest_1_featured_middle_news {
    margin: 5rem 0;
    @include feature-card($primary-orange, $media-card, 'no-bg-img');
    .views-row {
      a {
        .container .row {
          &:hover {
            box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
          }
        }
      }
    }
    .featured-middle-content {
      font-weight: 600;
      font-size: 18px;
    }
    .featured-middle-date {
      @include date-time($icon-orange);
    }
  }
}

.view-display-id-whats_on {
  .news {
    a {
      &:hover {
        border-bottom: 3px solid $icon-green;
      }
    }
  }
}

.view-display-id-news_listing_page,
.view-display-id-whats_on {
  > .view-content {
    padding-top: 4rem;
  }
  .news {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .view-footer {
    margin-top: 3rem;
  }
}

.latest-news {
  .view-footer {
    display: none;
  }
}
#block-newstopcontenttext {
  color: $white;
  background-image: url('~@/images/footer-texture.svg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  font-size: 1.2rem;
  .field {
    margin-bottom: 0;
  }
  a {
    border-bottom: 3px solid $primary-orange;
    &:hover, &:active {
      color: $primary-orange;
    }
  }
}
.panels.main-container {
  position: relative;
  background-color: $white;
  .view-display-id-news_listing_page {
    .view-filters {
      display: flex;
      margin-top: 3rem;
      .news-listing-title {
        width: 65%;
      }
      .views-exposed-form {
        .form-group {
          display: flex;
          .news-types-filter-container {
            width: 100%;
            margin-top: 0.5rem;
          }
        }
        .news-type-filter-links {
          @include type-filter-links($icon-orange);
          padding: 0.5rem;
          font-size: 14px;
          .fa-twitter {
            padding-top: 10px;
          }
        }
        .news-types-collapse-search {
          display: flex;
          margin-top: 0.5rem;
          margin-left: 10px;
          .form-type-textfield {
            input {
              margin-top: 2px;
              border-radius: 0;
              height: calc(1.5em + 0.75rem + 1px);
            }
          }
          #edit-submit-media-listing {
            margin-top: 2px;
            height: calc(1.5em + 0.75rem + 4px);
            width: 32%;
            margin-left: 0.5rem;
            padding: 0 0.5rem;
            background-color: $white;
            border-color: $icon-orange;
            color: $icon-orange;
            font-size: 14px;
            background-clip: unset;
            &:hover, &:active, &:focus {
              background-color: $icon-orange;
              border-color: $icon-orange;
              color: $white;
            }
          }
        }
      }
    }
    .view-header,
    .view-footer {
      font-size: 14px;
      color: $gray-500;
      font-family: 'Open Sans', sans-serif;
    }
    .view-footer {
      text-align: center;
    }
    @include landing-pagination($icon-orange);
  }
  //whats on
  .view-display-id-whats_on {
    .view-filters {
      //display: flex;
      .views-exposed-form {
        .event-listing-title-links-search {
          display: flex;
          margin-bottom: 2rem;
        }
        .event-listing-title {
          width: 75%;
        }
        .event-types-filter-container {
          margin-top: 1rem;
        }
        .event-type-filter-links {
          @include type-filter-links($icon-green);
        }
        .event-listing-date-n-submit {
          background-color: $gray-100;
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: space-evenly;
          .event-listing-date-outer-wrapper {
            display: flex;
            .event-listing-date-label {
              color: $icon-green;
              font-family: $font-family-rubik;
              padding-top: 1rem;
            }
            .form-item-field-event-date-value-min,
            .form-item-field-event-date-value-max {
              display: flex;
              margin-bottom: 0;
              label {
                padding-top: 1rem;
                padding-right: 1rem;
              }
              input {
                margin-top: 0.5rem;
              }
            }
            .form-item-field-event-date-value-min {
              margin-left: 5rem;
            }
            .form-item-field-event-date-value-max {
              margin-left: 1rem;
            }
          }
          .form-actions {
            .btn {
              margin-top: 0.5rem;
              padding: 0 3rem;
              background-color: $icon-green;
              border-color: $icon-green;
              &:hover {
                filter: brightness(110%);
              }
            }
          }
        }
      }
    }
    .view-display-id-earliest_1_featured_middle_event {
      margin: 5rem 0;
      @include feature-card($icon-green, url('~@/images/feature-bg.png'), 'bg-img');
      .views-row {
        a {
          .container .row {
            &:hover {
              box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
            }
          }
        }
      }
      .featured-middle-content {
        font-weight: 600;
        font-size: 18px;
      }
      .featured-middle-date {
        @include date-time($icon-green);
      }
    }
  }
  .view-header,
  .view-footer {
    font-size: 14px;
    color: $gray-500;
    font-family: 'Open Sans', sans-serif;
  }
  .view-footer {
    text-align: center;
  }
  @include landing-pagination($icon-green);
}

//news detail page
.node--type-news,
.node--type-event,
.node--type-media-landing-page {
  #main-wrapper {
    border-top: 2px solid $gray-100;
  }
}
.node--type-news {
  .panels.main-container {
    background-image: url('~@/images/media-fill.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
}
.node--type-event {
  .panels.main-container {
    background-image: url('~@/images/whatson-fill.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
}
.node--type-news.node--view-mode-full,
.node--type-page.node--view-mode-full {
  .field--name-field-media-date {
    @include date-time($primary-orange);
  }
  h1{
    color: $primary-blue;
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 1.5rem;
    color: $gray-700;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 2rem 0;
  }
  blockquote {
    font-size: 20px;
    color: $primary-blue;
    font-weight: 500;

    //<div class="quote"><i class="fas fa-quote-left"></i></div>
    .quote {
      @include type-icon($primary-orange);
      margin: 1.5rem auto;
      padding: .5rem .75rem;
    }
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
  .news-article-view-content-right {
    .field--name-field-label {
      color: $primary-orange;
      font-family: $font-family-rubik;
    }
    .field--name-field-enquiries-contact {
      background-color: $primary-blue;
      padding: 1.5rem;
      line-height: 1;
      p {
        color: $white;
        font-size: 14px;
        font-family: $font-family-work-sans;
      }
    }
  }
}
#block-socialsharingblock {
  .social-media-sharing {
    margin-top: 3rem;
    margin-bottom: 6rem;
    img {
      width: 25px;
      height: 25px;
      &:hover {
        filter: invert(.5);
      }
    }
  }
}
//event article
.node--type-event.node--view-mode-full {
  margin-top: 4rem;
  .datetime {
    @include date-time($icon-green);
  }
  h1{
    color: $primary-blue;
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    color: $gray-700;
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 2rem 0;
  }
  .news-article-view-content-right {
    .event-info {
      background-color: $event-bg;
      padding: 2rem;
      .info-icon {
        @include type-icon($primary-turquoise);
        margin-top: -3.5rem;
      }
      .info-text {
        margin-top: 5rem;
        text-align: center;
        .text-top {
          font-weight: 500;
        }
        .add-to-calendar {
          @include date-time($icon-green);
          margin: 2rem 0;
          a {
            &:hover {
              text-decoration: underline;
              text-decoration-color: $icon-green;
              text-underline-position: under;
            }
          }
        }
        .btn {
          color: $primary-blue;
          &:hover, &:focus {
            background-color: darken($primary-turquoise, 10%);
            border-color: darken($primary-turquoise, 10%);
          }
        }
      }
    }
    img {
      width: auto;
    }
  }
}
#block-floorplan {
  .floor-plan {
    background-size: cover;
    height: 700px;
    position: relative;
    h4 {
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      @include date-time($icon-green);
      font-size: 16px;
    }
  }
}


.region-content-bottom {
  border-top: 5px solid $gray-100;
  margin-top: 3rem;
  .news-view-latest-news-bottom {
    @include view-upcoming-bottom($primary-orange);
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .event-view-upcoming-bottom {
    @include view-upcoming-bottom($primary-turquoise);
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
}
