#parallax-container {
  display: block;
  height: 1100px;
  position: relative;

  .parallax-div {
    position: fixed;
    top: 0;
    background-position: center !important;
    background-repeat: no-repeat;
    transform: translateY(0px);
    height: 1100px;
    width: 100%;
  }

  .pavilion-bg {
    margin-top: 8rem;
    min-height: 100%;
    min-width: 100%;
  }
  .pavilion-cover {
    margin-top: 8rem;
    object-fit: cover;
  }
  .pavilion-shape {
    background-image: url('~@/images/shape2.png');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    top: 20%;
    left: 20%;
    height: 45%;
    padding: 6rem;
  }
  .pavilion-layer-top {
    position: relative;
    z-index: 20;
  }
  .pavilion-banner-title {
    color: white;
    line-height: 1.5;
  }

  //news page banner
  .pavilion-layer-top-news {
    .pavilion-shape-news {
      background-image: url('~@/images/shape3.png');
      position: relative;
      right: -20%;
      top: 30%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      padding: 6rem;
      height: 36%;
      &:hover {
        filter: brightness(110%);
      }
    }
    .news-listing-featured-title {
      color: $primary-orange;
    }
    .news-listing-featured-body {
      width: 40%;
    }
    .news-listing-featured-news-date {
      display: flex;
      color: $primary-orange;
      text-transform: uppercase;
      font-family: $font-family-rubik;
      p {
        padding-left: .5rem;
        margin-top: -2px;
      }
    }
  }
}

.extra-pavilion {
  margin-top: 2rem;
  background-color: $white;
  position: relative;
  .text-under {
    padding: 5rem;
    text-align: center;
  }
}

.pavilion-footer {
  position: relative;
  z-index: 30;
  background-color: $gray-100;
}

.pavilion-text-before-slider {
  text-align: center;
  color: $primary-blue;
  padding-bottom: 8rem;
}

.pavilion-last-section {
  position: relative;
  z-index: 30;
  background-color: $white;
  .pavilion-welcome {
    background-color: $white;
    padding: 5rem 0;
    margin-top: -2rem;
    .pavilion-welcome-text {
      padding-top: 10rem;
      color: $primary-blue;
    }
  }
}
