#parallax-container {
  display: block;
  height: 100vh;
  position: relative;

  .parallax-div {
    position: fixed;
    top: 0;
    background-position: center !important;
    background-repeat: no-repeat;
    transform: translateY(0px);
    height: 100vh;
    width: 100%;
    margin-top: 7rem;
  }

  .pavilion-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .pavilion-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .pavilion-bg-container {
    height: 100%;
    width: 100%;
    .field {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
  .pavilion-shape {
    background-image: url('~@/images/pavilion-shape.svg');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    top: 20%;
    height: auto;
    width: auto;
    padding: 8rem 6rem;
    .btn {
      margin-top: 1rem;
    }
  }
  .pavilion-layer-top {
    //position: relative;
    z-index: 20;
  }
  .pavilion-banner-title {
    color: white;
    line-height: 1.2;
    width: 70%;
  }

  //news page banner
  .pavilion-layer-top-news {
    .pavilion-shape-news {
      background-image: url('~@/images/shape-themes-white.svg');
      position: relative;
      right: -20%;
      top: 6rem;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      padding: 4rem 6rem;
      height: auto;
      width: auto;
      &:hover {
        filter: brightness(110%);
        .news-listing-featured-title {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
    .news-listing-featured-title {
      color: $icon-orange;
      font-size: 2rem;
    }
    .news-listing-featured-body {
      width: 40%;
      margin-top: 1rem;
      font-family: 'Open Sans', sans-serif;
    }
    .news-listing-featured-news-date {
      display: flex;
      color: $icon-orange;
      text-transform: uppercase;
      font-family: $font-family-rubik;
      font-weight: 500;
      letter-spacing: 1px;
      p {
        margin-top: -2px;
      }
    }
    .whats-on-shape {
      @extend .pavilion-shape-news;
      right: -22%;
      background-image: url('~@/images/shape4.png');
      padding: 5rem;
      .field--type-text-with-summary {
       // width: 35%;
      }
      h2 {
        color: $icon-green;
      }
      p {
        font-family: 'Open Sans', sans-serif;
      }
      a {
        color: $icon-green;
        font-family: $font-family-rubik;
        letter-spacing: 1px;
        text-decoration: none;
        border-bottom: none;
        &:hover {
          border-bottom: 2px solid;
        }
      }
    }
  }
  .whats-on-shape-under {
    position: relative;
    right: -46%;
    top: 8%;
    height: auto;
    width: auto;
    &:hover {
      filter: brightness(110%);
    }
  }
}
.node--type-pavilion-landing-page,
.node--type-opportunities {
  #parallax-container {
    .parallax-div {
      margin-top: 0;
    }
  }
}

.view-display-id-latest1_featured_news,
#block-partnerslandingpageheader,
#block-themesheader,
#block-whatsonheader {
  #parallax-container {
    height: 600px;
    .parallax-banner {
      &.content-banner {
        height: 600px !important;
      }
    }
  }
}
#block-whatsonheader,
#block-themesheader {
  width: 100%;
  height: 100%;
  #parallax-container {
    .parallax-div {
      position: absolute;
      margin-top: 0;
    }
  }
}
.view-display-id-latest1_featured_news,
#block-partnerslandingpageheader {
  #parallax-container {
    .parallax-div {
      margin-top: 107px;
    }
  }
}
#block-partnerslandingpageheader,
#block-whatsonheader {
  #parallax-container {
    .pavilion-layer-top-news {
      .whats-on-shape {
        padding-top: 6rem;
      }
    }
  }
}
.extra-pavilion {
  margin-top: 2rem;
  background-color: $white;
  position: relative;
  z-index: 20;
  .text-under {
    padding: 5rem 0 7rem 0;
    text-align: center;
    color: $btn-border;
    .row {
      margin: 0 6rem;
    }
    a {
      &:hover {
        .icon-text {
          border-bottom: 2px solid;
          width: 65%;
        }
      }
    }
  }
}

.pavilion-footer {
  position: relative;
  background-color: $gray-100;
  .latest-news {
    z-index: 0;
    .news {
      a {
        img {
          height: auto;
        }
      }
    }
  }
  .pavilion-type-icon {
    @include type-icon($primary-blue);
  }
  .pavilion-type {
    font-family: $font-family-rubik;
    color: $primary-blue;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.oppo-footer {
  position: relative;
  z-index: 0;
  background-color: $white;
  padding-top: 9rem;
  .partners {
    padding-top: 6rem;
    .view-id-sponsors_partners_views_listing {
      padding-bottom: 0;
    }
  }
  .oppo-icons {
    margin-bottom: 9rem;
    h2 {
      color: $primary-blue;
      text-align: center;
      margin-bottom: 5rem;
    }
    .row {
      margin: 3rem 0;
      a {
        &:hover {
          .icon-text {
            text-decoration: underline;
          }
        }
      }
    }
    .icon-blue1 {
      @include feature-icons($icon-blue1);
    }
    .icon-blue2 {
      @include feature-icons($icon-blue2);
    }
    .icon-blue3 {
      @include feature-icons($icon-blue3);
    }
  }
}

.pavilion-text-before-slider {
  text-align: center;
  color: $primary-blue;
  padding-bottom: 6rem;
}

.pavilion-last-section {
  position: relative;
  background-color: $white;
  .field {
    margin-bottom: 0;
  }
  @include pavilion-welcome($primary-blue, $white);
}

.block-views-blockmedia-listing-latest1-featured-news,
.node--type-themes {
  #parallax-container {
    .whats-on-shape-under {
      right: -24rem;
      margin-top: 2rem;
      mix-blend-mode: multiply;
    }
  }
}
.node--type-opportunities #parallax-container .pavilion-shape {
  padding-top: 3rem;
  padding-left: 6rem;
}