.partner-container,
.banner-map,
.pavilion-footer .latest-news,
.node--type-contact.node--view-mode-full .field--name-field-bottom-content .floorplan,
.node--type-contact.node--view-mode-full #block-newstopcontenttext,
.node--type-contact .breadcrumb-n-title-container img {
  display: none;
}

.pavilion-text-before-slider {
  padding-top: 6rem;
}

.oppo-footer .partners {
  background-color: $white;
  padding-top: 1rem;
}

.oppo-footer .oppo-icons {
  margin-bottom: 0;
}

.node--type-contact {
  .breadcrumb-n-title-container {
    height: 100px;
  }

  .field--name-field-bottom-content {
    margin-bottom: 5rem;
  }
}


.field--name-field-multi-s-n-p-listing {
  > .field__item {
    &:nth-of-type(1) {
      display: none;
    }
  }

  .partners-with-background {
    &:nth-of-type(2) {
      display: none;
    }
  }
}

.node--type-sponsors-partners-landing-page.node--view-mode-full .pavilion-welcome {
  padding-bottom: 5rem;
}

.showcase {
  padding-bottom: 12.5rem;
}