@media (max-width: 1440px) {
  h2.accent {
    font-size: 32px;
    left: 35%;
    width: 30%;
  }
  .node--type-sponsors-partners-landing-page,
  #block-whatsonheader {
    #parallax-container {
      .whats-on-shape {
        right: -40%;
        top: 15%;
      }
      .whats-on-shape-under {
        top: 12%;
      }
    }
  }
  .block-views-blockmedia-listing-latest1-featured-news {
    #parallax-container {
      .whats-on-shape-under {
        top: 10%;
      }
      .pavilion-shape-news {
        top: 17%;
        right: -33%;
        height: auto;
      }
    }
  }
  .node--type-opportunities {
    #parallax-container {
      .pavilion-shape {
        height: 35%;
        top: 15%;
        padding: 2rem 6rem;
        .btn {
          margin-top: 1rem;
        }
      }
    }
  }
  .node--type-themes {
    #parallax-container {
      .pavilion-layer-top-news {
        .whats-on-shape {
          top: 11rem;
          height: auto;
          right: -36%;
        }
      }
      .whats-on-shape-under {
        top: 10%;
      }
    }
  }
}

@include media-breakpoint-down(lg) { //1200px
  #parallax-container {
    height: 900px;
    .parallax-div {
      height: 900px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        height: 70%;
      }
    }
    .pavilion-shape {
      height: 65%;
    }
  }
  .panels.main-container .view-display-id-news_listing_page .view-filters {
    display: inline;
    .views-exposed-form {
      .form-group {
        display: inline;
      }
      .news-types-collapse-search {
        margin-top: 2rem;
        margin-left: 0;
      }
      .news-type-filter-links {
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) { //992px
  #block-expo2020-header-site-search-block {
    .header-site-search-content-wrapper {
      .search-trigger,
      button,
      .input-wrap {
        margin-top: -0.5rem;
      }
      &.open {
        .input-wrap {
          width: 300px;
          margin: 0;
        }
      }
    }
  }
  #parallax-container {
    height: 800px;
    .parallax-div {
      height: 800px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        height: 56%;
      }
      .news-listing-featured-body {
        width: 70%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {  //768px
  #block-expo2020-header-site-search-block {
    .header-site-search-content-wrapper {
      .search-trigger,
      button,
      .input-wrap {
        margin: 0 1rem;
      }
      &.open {
        .input-wrap {
          width: 300px;
          margin: 0 1rem;
        }
      }
    }
  }

  #parallax-container {
    height: 600px;
    .parallax-div {
      height: 600px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        padding: 5rem;
      }
      .news-listing-featured-title {
        font-size: 2rem;
      }
    }
  }
}

@include media-breakpoint-down(xs) {  //576px
  body h2 {
    font-size: 2rem;
  }
  #block-expo2020-header-site-search-block {
    .header-site-search-content-wrapper {
      display: none;
    }
  }
  #block-bean-homepage-banner {
    .texts {
      .inner {
        padding: 30px;
      }
    }
  }
  .latest-news {
    .news-section {
      margin-bottom: 2rem;
      padding-top: 2rem;
      .news-header {
        margin-left: 15px;
      }
    }
    .news {
      padding-top: 2rem !important;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .view-display-id-news_listing_page {
    .news {
      padding-top: 2rem !important;
    }
  }
  #pinSlider {
    .pips {
      right: 20px;
      top: 5rem;
    }
    .slide {
      top: 40rem;
      left:1rem;
      h2 {
        font-size: 2rem;
      }
      p {
        width: 90%;
        font-size: 20px;
      }
    }
  }
  .partners {
    padding-top: 2rem;
  }
  h2.accent {
    font-size: 1.5rem;
    left: 6rem;
    width: 70%;
    top: 13rem;
  }
  .slider-link {
    left: 35%;
  }
  .slick-dots {
    top: 11rem;
  }
  .video-play-icon {
    left: 42.5%;
  }
  .showcase {
    .row {
      margin-top: 2rem;
    }
  }
  .map-img {
    min-height: 200px;
    h2 {
      margin-left: 15px;
    }
  }
  .footer-right-outer-container {
    h2 {
      margin-left: 15px;
    }
    .webform-submission-form {
      padding-left: 15px;
    }
    .button {
      height: calc(2.5em + 1rem + 1px);
    }
  }
  #parallax-container {
    height: 500px;
    .parallax-div {
      height: 500px;
      margin-top: 6rem;
    }
    .pavilion-shape {
      left: 2rem;
      padding: 3.5rem;
      height: 53%;
      .btn {
        margin-top: 1rem;
      }
    }
    .pavilion-banner-title {
      width: 40%;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        padding: 2rem;
        height: 45%;
      }
    }
  }
  .extra-pavilion {
    margin-top: 0;
    .text-under {
      padding: 2rem;
    }
  }
  .latest-news {
    .news-section {
      margin-bottom: -2rem;
    }
  }
  .pavilion-text-before-slider {
    padding: 2rem;
  }
  .pavilion-last-section {
    .pavilion-welcome {
      padding: 2rem 0;
      text-align: center;
      .col-md-6 {
        padding: 0 2rem;
      }
      img {
        width: 100%;
      }
      .pavilion-welcome-text {
        padding-top: 0;
      }
    }
  }
  .content-outer-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  body h2 {
    font-size: 1.5rem;
  }
  h2.accent {
    left: 4rem;
    top: 9rem;
  }
  .slider-link {
    left: 30%;
    font-size: 12px;
    padding: 0.2rem 1rem;
  }
  .slick-dots {
    top: 7.5rem;
  }
  .block-views-blockmedia-listing-latest1-featured-news #parallax-container .whats-on-shape-under {
    right: -35%;
    height: 45%;
  }
  #parallax-container {
    height: 500px;
    .parallax-div {
      height: 500px;
    }
    .whats-on-shape-under {
      right: -35%;
      height: 45%;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        right: -6%;
      }
      .news-listing-featured-title {
        font-size: 1.5rem;
      }
    }
    .pavilion-shape {
      padding: 3rem;
    }
  }
  .view-display-id-news_listing_page {
    .view-display-id-latest_1_featured_middle_news {
      .col-md-6:last-child {
        padding: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 370px) {

}