@include media-breakpoint-down(lg) { //1200px
  #parallax-container {
    height: 600px;
    .parallax-div {
      height: 600px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        height: 70%;
      }
    }
  }
}

@include media-breakpoint-down(md) { //992px
  #block-expo2020-header-site-search-block {
    .header-site-search-content-wrapper {
      .search-trigger,
      button,
      .input-wrap {
        margin: 0;
      }
      &.open {
        .input-wrap {
          width: 300px;
          margin: 0;
        }
      }
    }
  }
  #parallax-container {
    height: 600px;
    .parallax-div {
      height: 600px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        height: 56%;
      }
      .news-listing-featured-body {
        width: 70%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {  //768px
  #block-expo2020-header-site-search-block {
    .header-site-search-content-wrapper {
      .search-trigger,
      button,
      .input-wrap {
        margin: 0 1rem;
      }
      &.open {
        .input-wrap {
          width: 300px;
          margin: 0 1rem;
        }
      }
    }
  }

  #parallax-container {
    height: 500px;
    .parallax-div {
      height: 500px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        padding: 5rem;
      }
      .news-listing-featured-title {
        font-size: 2rem;
      }
    }
  }
}

@include media-breakpoint-down(xs) {  //576px

}

@media only screen and (max-width: 480px) {
  #block-expo2020-header-site-search-block {
    .header-site-search-content-wrapper {
      &.open {
        .input-wrap {
          width: 250px;
        }
      }
    }
  }

  #parallax-container {
    height: 400px;
    .parallax-div {
      height: 400px;
    }
    .pavilion-layer-top-news {
      .pavilion-shape-news {
        padding: 4rem;
      }
      .news-listing-featured-title {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 370px) {

}